/* ------------------------- */
/*        ESTILO GENERAL     */
/* ------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Times New Roman', serif;
}

html{
  font-size: 64.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0b0b0b;
  color: white;

}


/* ------------------------- */
/*          NAVBAR           */
/* ------------------------- */

.navbar {
  position: static;
  background: transparent;
  padding: 25px 0;
  border-bottom: 2px solid #C1BBA3;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 65px;
}

.navbar a {
  text-decoration: none;
  color: #979797;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
  color: #C1BBA3;
}

/* ------------------------- */
/*        section  */
/* ------------------------- */

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

/* ------------------------- */
/*        background  */
/* ------------------------- */

.back{
  background-image: url(https://shop-hellsheadbangers.com/images/2015sitedesign/ripped-background.gif);
  background-position: center;
  background-repeat: repeat;
}

/* ------------------------- */
/*        Inicio  */
/* ------------------------- */

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url(https://www.darkdescentrecords.com/shop/media/Phobocosm-Gateway-scaled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------- */
/*        Sobre mi  */
/* ------------------------- */

.me{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 8rem;
 background-image: url(https://shop-hellsheadbangers.com/images/2015sitedesign/ripped-background.gif);
 background-position: center;
 background-repeat: repeat;
}

.me .me-content h1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #1E1E1E;
}

span{
  color: #C1BBA3;
   text-shadow: 
        2px 2px 0 #1E1E1E,
        -2px 2px 0 #1E1E1E, 
        2px -2px 0 #1E1E1E, 
        -2px -2px 0 #1E1E1E;
      }

.me .me-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700; 
  color: #1E1E1E; 
}

.me .me-content p{
  font-size: 1.3rem;
  color: #1E1E1E;
  margin-top: 2rem;
  line-height: 1.3;
}

.me-image img{
  position: relative;
  width: 32vw;
  box-shadow: 0 0 25px solid #A0805A;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn{
  display: inline-block;
  background-color: #1E1E1E;
  color: #C1BBA3;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

btn:hover{
  transform: scale3d(1.03);
  background-color: #979797;
  color: #A0805A;
  box-shadow: 0 0 25px #979797;
}